doctype html5
html
  head
    meta(charset='utf8')
    title coffee-DragSlider Demo
    link(rel='stylesheet', href='css/coffee-drag-slider.css')
  body
    .container
      .sliderViewport#mainSlider
        ul.slider
          li item-1
          li item-2
          li item-3

    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='js/coffee-drag-slider')