.sliderViewport * {
    margin: 0;
    padding: 0;
}
.sliderViewport {
    height: auto;
    min-height: inherit;
    position: relative;
    overflow: hidden;
    -webkit-transform-origin: 0px 0px;
    -webkit-transform: scale(1);
}
.sliderViewport .onLeftLimit:after,
.sliderViewport .onRightLimit:after {
    content: '';
    display: block;
    width: 1%;
    max-width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #ff5200;
    box-shadow: 0 0 5px #d3d3d3;
}
.sliderViewport .onLeftLimit:after {
    left: 0;
}
.sliderViewport .onRightLimit:after {
    right: 0;
}
.sliderViewport .sliderTrack {
    position: relative;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    margin-left: 0;
    top: 0;
    left: 0;
}
.sliderViewport .sliderTrack > li {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
}
.sliderViewport figure.sliderImgContainer {
    height: 400;
    overflow: hidden;
}
.sliderViewport .sliderImg {
    width: 100%;
    display: block;
    height: auto;
    min-height: 55%;
}
.sliderViewport .centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
.sliderViewport .sliderBtn {
    opacity: 0;
    display: block;
    width: 34px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    text-align: center;
    color: #f63;
    font-size: 54px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.sliderViewport .prevBtn {
    left: 13px;
}
.sliderViewport .prevBtn .fa-angle-left {
    margin-left: -5px;
}
.sliderViewport .nextBtn {
    right: 13px;
}
.sliderViewport .nextBtn .fa-angle-right {
    margin-right: -5px;
}
.sliderViewport .navigator {
    width: 100%;
    height: 13px;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.sliderViewport .navigator .navBullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba(169,169,169,0.57);
    margin: 0 4px 1.5%;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.14);
    box-shadow: 0 0 8px rgba(0,0,0,0.24);
}
.sliderViewport .navigator .navBullet.selected {
    background-color: artnxsOrange;
}
.sliderViewport .progress {
    position: absolute;
    display: inline-block;
    width: 5em;
    height: 5em;
    margin: 0 0.5em;
    font-size: 12px;
    text-indent: 999em;
    overflow: hidden;
    -webkit-animation: spin 1s infinite steps(8);
    top: 50%;
    left: 50%;
    margin-top: -2.5em;
    margin-left: -2.5em;
    z-index: 99999;
}
.sliderViewport .small.progress {
    font-size: 6px;
}
.sliderViewport .large.progress {
    font-size: 24px;
}
.sliderViewport .progress:before,
.sliderViewport .progress:after,
.sliderViewport .progress > div:before,
.sliderViewport .progress > div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 2.25em;
    width: 0.5em;
    height: 1.5em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -o-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    border-radius: 0.2em;
    background: #eee;
    box-shadow: 0 3.5em #eee;
    -webkit-transform-origin: 50% 2.5em;
}
.sliderViewport .progress:before {
    background: #555;
}
.sliderViewport .progress:after {
    -webkit-transform: rotate(-45deg);
    background: #777;
}
.sliderViewport .progress > div:before {
    -webkit-transform: rotate(-90deg);
    background: #999;
}
.sliderViewport .progress > div:after {
    -webkit-transform: rotate(-135deg);
    background: #bbb;
}
@-moz-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
@-o-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
    }
}
/* End slider styles */
.sliderViewport:hover .sliderBtn {
    opacity: 1;
}